@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.hn { font-family: 'Hanna'; }
.jg { font-family: 'Jeju Gothic'; }
.jh { font-family: 'Jeju Hallasan'; }
.jm { font-family: 'Jeju Myeongjo'; }
.kb { font-family: 'Kopub Batang'; }
.nbs { font-family: 'Nanum Brush Script'; }
.ng { font-family: 'Nanum Gothic'; }
.ngc { font-family: 'Nanum Gothic Coding'; }
.nm { font-family: 'Nanum Myeongjo'; }
.nps { font-family: 'Nanum Pen Script'; }
.ns { font-family: 'Noto Sans KR'; }

body, table, div, p {font-family:'Jeju Hallasan';}

#content {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#content>#main_aside {
	width: 15%;
	float: left;
}

#content>#main_section {
	width: 83%;
	margin: 0 auto;
	float: left;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
}

.register-button {
	background-color: #6799FF;
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
	float: right;
}

.update-button {
	background-color: #008080;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
}

.delete-button {
	background-color: #ff0000;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
}

.check-button {
	background-color: #ff8000;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;	
}

.line{border-bottom:1px solid #c0c0c0;}

body input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* body select.select_box */
body select {
	/* display: block;  */
	padding: 10px 40px 10px 13px !important;
	max-width: 100%;
	height: auto !important;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background: url("/images/selectbox_arrow.png") right center no-repeat;
	background-color: #fff;
	color: #444444;
	font-size: 12px;
	line-height: 16px !important;
	appearance: none; /* this is must */
	-webkit-appearance: none;
	-moz-appearance: none;
} /* body select.select_box option */
body select option {
	padding: 0 4px;
}

.Schedule-table  {

	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background-color: #ffffff;
	color: #444444;
	font-size: 12px;
	line-height: 16px !important;

} /* body select.select_box option */

.Schedule-table-td  {

	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background-color: #ffffff;
	color: #444444;
	font-size: 16px;
	line-height: 16px !important;

} /* body select.select_box option */



.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "완료";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "반려";
    padding-right: 10px;
    background-color: #dc400c; color: #FFFFFF;
    text-align: right;
}



.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#000000;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#000000;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}

.customer-table .customer-th .customer-td {
	height : 60px;
}