#content {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#content>#main_aside {
	width: 15%;
	float: left;
}

#content>#main_section {
	width: 83%;
	margin: 0 auto;
	float: left;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
}

.register-button {
	background-color: #6799FF;
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
	float: right;
}

.update-button {
	background-color: #008080;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
}

.delete-button {
	background-color: #ff0000;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	cursor: pointer;
}


/* body select.select_box */
body select {
	/* display: block;  */
	padding: 10px 70px 10px 13px !important;
	max-width: 100%;
	height: auto !important;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background: url("/images/selectbox_arrow.png") right center no-repeat;
	background-color: #fff;
	color: #444444;
	font-size: 12px;
	line-height: 16px !important;
	appearance: none; /* this is must */
	-webkit-appearance: none;
	-moz-appearance: none;
} /* body select.select_box option */
body select option {
	padding: 0 4px;
}

.Schedule-table  {

	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background-color: #ffffff;
	color: #444444;
	font-size: 12px;
	line-height: 16px !important;

} /* body select.select_box option */

.Schedule-table-td  {

	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background-color: #ffffff;
	color: #444444;
	font-size: 16px;
	line-height: 16px !important;

} /* body select.select_box option */



.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "완료";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "반려";
    padding-right: 10px;
    background-color: #dc400c; color: #FFFFFF;
    text-align: right;
}



.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}